<%- include('../templates/header'); -%>

<div class="container-fluid">
	<h1 class="mt-5" style="text-align: center">Results</h1>
	<div
		class="d-flex flex-row flex-wrap align-items-center justify-content-center"
	>
		<div class="col-lg-12 col-xl-4 col-md-12 col-sm-12 col-12 bar-chart">
			<canvas id="voteFemale"></canvas>
		</div>
		<div class="col-lg-12 col-xl-4 col-md-12 col-sm-12 col-12 bar-chart">
			<canvas id="voteMale"></canvas>
		</div>
		<div class="col-lg-12 col-xl-4 col-md-12 col-sm-12 col-12 bar-chart">
			<canvas id="voteGroup"></canvas>
		</div>
	</div>
	<div class="d-flex justify-content-center" id="table-container"></div>
	<div class="d-flex flex-row flex-wrap">
		<div class="col-xl-4 col-lg-4 mt-3 mb-1">
			<button
				type="button"
				class="btn btn-danger btn-lg btn-block"
				id="disable-vote"
				<% if (admin.disableVote.Vote === 1) { %>
				disabled 
				<% } %>
			>
			<% if (admin.disableVote.Vote === 1) { %>
				VOTING DISABLED
				<% } else { %>
				Disable Votes
				<% } %> 
			</button>
		</div>
		<div class="col-xl-4 col-lg-4 mt-3 mb-1">
			<button
				type="button"
				class="btn btn-warning btn-lg btn-block"
				id="disable-result"
				<% if (admin.disableResult.Vote === 1) { %>
					disabled 
				<% } %>
			>
			<% if (admin.disableResult.Vote === 1) { %>
				RESULTS DISABLED
			<% } else { %>
				Disable Results
			<% } %> 
			</button>
		</div>
		<div class="col-xl-4 col-lg-4 mt-3 mb-3">
			<button
				type="button"
				class="btn btn-secondary btn-lg btn-block"
				id="enable-final-result"
				<% if (admin.displayFinalResult.Vote === 1) { %>
					disabled 
				<% } %>
			>
			<% if (admin.displayFinalResult.Vote === 1) { %>
				FINAL RESULTS DISPLAYED
			<% } else { %>
				Display Final Results
			<% } %> 
			</button>
		</div>
	</div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chart.js"></script>
<script src="/js/admin.js"></script>

<%- include('../templates/footer'); -%>
