<%- include('../templates/header'); -%>
<h1>Female</h1>

<form action="/vote" method="post">
	<div class="contestant-selector">
		<input id="first-female" type="radio" name="user" value="FirstFemale" />
		<label class="contestant first-female" for="first-female"></label>

		<input id="second-female" type="radio" name="user" value="SecondFemale" />
		<label class="contestant second-female" for="second-female"></label>

		<input id="third-female" type="radio" name="user" value="ThirdFemale" />
		<label class="contestant third-female" for="third-female"></label>

		<input type="hidden" name="female" value="female" />
	</div>
	<button type="submit">Submit</button>
</form>
<%- include('../templates/footer'); -%>
