<%- include('../templates/header'); -%>
<form action="/vote" method="post">
	<button name="user" type="submit" value="FirstFemale">Female 1</button>
	<button name="user" type="submit" value="SecondFemale">Female 2</button>
	<button name="user" type="submit" value="ThirdFemale">Female 3</button>
</form>
<%- include('../templates/footer'); -%>
