<%- include('../templates/header'); -%>
<form action="/vote" method="post">
	<input type="radio" name="user" id="FirstGroup" value="FirstGroup" />
	<label for="FirstGroup">Group 1</label>
	<input type="radio" name="user" id="SecondGroup" value="SecondGroup" />
	<label for="SecondGroup">Group 2</label>
	<input type="radio" name="user" id="ThirdGroup" value="ThirdGroup" />
	<label for="ThirdGroup">Group 3</label>
	<button type="submit">Submit</button>
</form>
<%- include('../templates/footer'); -%>
