<%- include('../templates/header'); -%>
<form action="/vote" method="post">
	<button name="user" type="submit" value="FirstGroup">Group 1</button>
	<button name="user" type="submit" value="SecondGroup">Group 2</button>
	<button name="user" type="submit" value="ThirdGroup">Group 3</button>
</form>
<%- include('../templates/footer'); -%>
