<%- include('../templates/header'); -%>

<div class="container">
	<h1>Male Category</h1>
	<form action="/vote" method="post">
		<div class="contestant-selector">
			<div class="image-container">
				<h2>A</h2>
				<input
					id="first-male"
					type="radio"
					name="user"
					value="FirstMale"
					checked
				/>
				<label class="contestant first-male" for="first-male"></label>
			</div>
			<div class="image-container">
				<h2>B</h2>
				<input id="second-male" type="radio" name="user" value="SecondMale" />
				<label class="contestant second-male" for="second-male"></label>
			</div>
			<div class="image-container">
				<h2>C</h2>
				<input id="third-male" type="radio" name="user" value="ThirdMale" />
				<label class="contestant third-male" for="third-male"></label>
			</div>

			<input type="hidden" name="male" value="male" />
		</div>
		<div class="row">
			<div class="col text-center">
				<button
					id="maleBtn"
					type="submit"
					class="btn btn-success btn-lg btn-block"
				>
					Submit Vote
				</button>
			</div>
		</div>
	</form>
</div>
<script>
	const maleBtn = document.querySelector('#maleBtn');
	maleBtn.addEventListener('click', () => {
		setTimeout(() => {
			maleBtn.disabled = true;
		}, 0);
	});
</script>
<%- include('../templates/footer'); -%>
