<%- include('../templates/header'); -%>
<form action="/vote" method="post">
	<input type="radio" name="user" id="FirstMale" value="FirstMale" />
	<label for="FirstMale">Male 1</label>
	<input type="radio" name="user" id="SecondMale" value="SecondMale" />
	<label for="SecondMale">Male 2</label>
	<input type="radio" name="user" id="ThirdMale" value="ThirdMale" />
	<label for="ThirdMale">Male 3</label>
	<input type="hidden" name="male" value="male" />

	<button type="submit">Submit</button>
</form>
<%- include('../templates/footer'); -%>
