<%- include('../templates/header'); -%>
<form action="/male" method="post">
	<button name="user" type="submit" value="FirstMale">Male 1</button>
	<button name="user" type="submit" value="SecondMale">Male 1</button>
	<button name="user" type="submit" value="ThirdMale">Male 1</button>
</form>
<%- include('../templates/footer'); -%>
