<%- include('../templates/header'); -%>

<div class="container">
	<h1 class="mt-4">Male Category</h1>

	<div class="alert alert-info mt-3 mb-4" role="alert">
		Please select the contestant you like and click next
	</div>

	<form action="/vote" method="post">
		<div class="contestant-selector">
			<div class="image-container">
				<h2 class="text-center">A</h2>
				<input
					id="first-male"
					type="radio"
					name="user"
					value="FirstMale"
					checked
				/>
				<label class="contestant first-male" for="first-male"></label>
			</div>
			<div class="image-container">
				<h2 class="text-center">B</h2>
				<input id="second-male" type="radio" name="user" value="SecondMale" />
				<label class="contestant second-male" for="second-male"></label>
			</div>
			<div class="image-container">
				<h2 class="text-center">C</h2>
				<input id="third-male" type="radio" name="user" value="ThirdMale" />
				<label class="contestant third-male" for="third-male"></label>
			</div>

			<input type="hidden" name="male" value="male" />
		</div>
		<div class="row">
			<div class="col text-center">
				<button
					id="maleBtn"
					type="submit"
					class="btn btn-success btn-lg btn-block mb-5 mt-5"
				>
					Next
				</button>
			</div>
		</div>
	</form>
</div>
<script>
	const maleBtn = document.querySelector('#maleBtn');
	maleBtn.addEventListener('click', () => {
		setTimeout(() => {
			maleBtn.disabled = true;
			maleBtn.innerHTML =
				'<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...';
		}, 0);
	});
</script>
<%- include('../templates/footer'); -%>
