* {
	font-family: 'Open Sans', sans-serif;
}

.contestant-selector {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.image-container {
	width: 450px;
}

@media only screen and (min-width: 768px) {
	/* For desktop: */
	.image-container {
		width: 415px;
	}

	.contestant {
		height: 290px;
	}
}

.contestant-selector input {
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.first-female {
	background-image: url('../assets/female1.jpeg');
	background-size: cover;
}

.second-female {
	background-image: url('../assets/female2.jpeg');
	background-size: cover;
}

.third-female {
	background-image: url('../assets/female3.jpeg');
	background-size: cover;
}

.first-male {
	background-image: url('../assets/male1.jpeg');
	background-size: cover;
}

.second-male {
	background-image: url('../assets/male2.jpeg');
	background-size: cover;
}

.third-male {
	background-image: url('../assets/male3.jpeg');
	background-size: cover;
}

.first-group {
	background-image: url('../assets/group1.jpeg');
	background-size: cover;
}

.second-group {
	background-image: url('../assets/group2.jpeg');
	background-size: cover;
}

.third-group {
	background-image: url('../assets/group3.jpeg');
	background-size: cover;
}

.contestant-selector input:active + .contestant {
	opacity: 0.9;
}

.contestant-selector input:checked + .contestant {
	-webkit-filter: none;
	-moz-filter: none;
	filter: none;
}

/* .contestant-selector-2 input:not(:checked) + .contestant,
.contestant-selector input:not(:checked) + .contestant {
	-webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
	-moz-filter: brightness(1.8) grayscale(1) opacity(0.7);
	filter: brightness(1.8) grayscale(1) opacity(0.7);
} */

.contestant {
	cursor: pointer;
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 270px;
	-webkit-transition: all 100ms ease-in;
	-moz-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
	-webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
	-moz-filter: brightness(1.8) grayscale(1) opacity(0.7);
	filter: brightness(1.8) grayscale(1) opacity(0.7);
}

.contestant:hover {
	-webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
	-moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
	filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}

.bar-chart {
	height: 40vh;
	margin-top: 35px;
	margin-bottom: 35px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
